*{
    padding: 0;
    margin: 0;
    color: white;
}
body{
    background-color: black;
}
.main{
    background: url(assets/img/bgimage.png);
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height: 644px;
    background-position: center center;
    position: relative;
}
.main .box{
    height: 644px;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.69;
    background-color: black;
}
.logo img{
    color:red;
    width: 148px;
    position: relative;
    z-index: 10;

}
nav{
    margin: auto;
    max-width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.flex button{
   position: relative;
   z-index: 10;

}
.hero{
    margin:87px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: calc(100%-100px);
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    flex-direction:column;
    gap: 23px;
    padding: 0 30px;
}
.hero>:nth-child(1){
    font-weight: 800;
    text-align: center;
    font-size: 56px;
}
.hero>:nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.hero input{
    position: relative;
    border: 0px;
    border-radius:3px;
    width: 286px;
    height: 20px;
    border:1px solid white;
    padding: 1rem 1rem 1rem;
    font-size: 1rem;
    font-weight: 551;
    color: white;
    background: rgba(22, 22, 22, 0.7);
    border-color: rgba(128, 128, 128, 0.7);     
}

.hero button{
    position: relative;
    border:0px;
    height: 55px;
    width: 143px;
    border-radius: 3px;
    color: white;
    background-color: red;
    cursor:pointer;
    font-size: 14px;
    font-weight: 600;
    margin-left: 0.1rem;
}
.flex #English{

    font-weight: 600px;
    color: white;
    background-color: rgba(22, 22, 22, 0.7); 
    width: 95px;
    height: 35px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;

}
.flex #signIn{
    width:68px;
    height: 35px;
    font-size:13px;
    font-weight: 600px;
    border: 0px;
    color: white;
    border-radius: 4px;
    padding: 6px;
    background-color: red;
    cursor: pointer;
}
.sep{
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}
.first{
    padding: 34px 0px;
    padding: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
}

@media  screen and (max-width:873px) {
    .first{
        flex-wrap: wrap;
    }
}
.first :nth-child(1) span{
    color: white;
    font-size: 40px;
    font-weight: 700;

}

#info{
    font-size: 26px;
    font-weight: 500;
}
.image{
    position: relative;
    z-index: 10;
}
.image img{

    width: 354px;
    position: relative;
    z-index: 10;
}
.image video{
    width: 277px;
    position: absolute;
    right: 44px;
    top: 47px;
}
.second{
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content span{
    font-size: 40px;
    font-weight: 700;
}
.third{
    display: flex;
    color: white;
}
.third #info{
    font-size: 20px;
}
.faq h2{
    text-align: center;
    padding: 34px;
    font-size: 32px;
}
.faq{
    margin-bottom: 50px;
    font-size: 24px;
}

.Q {
    color: white;
    transition:all 1s ease-out;
    cursor: pointer;
    padding:8px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    font-size: 24px;
    border :0;
    max-width: 60vw;
    background-color: #2d2d2d;
}
.Q:hover{
    background-color:#414141;
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}
.footer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
.questions {
    padding: 34px 0;
}
.footer a {

    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
}
@media screen and (max-width: 1000px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}


@media screen and (max-width: 1000px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


@media screen and (max-width: 523px) {
    .sep{
        height: 7px !important;
        min-height: 7px;
        display: block;
        width: 100%;
    }

    .image{
        overflow: hidden;
        text-align: center;
    }

    .image img{
        width: 100%;
        max-width: 420px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .image video{
        position: absolute;
        left: 48%;
        top: 47%;
        transform: translate(-50%, -50%);
        width: 82%;
        max-width: 360px;
        height: auto;
        object-fit: cover;
        margin: 0;
    }

    
    html, body{
        min-width: 0;
    }
}

@media screen and (max-width: 523px) {
    .hero{
        margin: 24px 16px;
        padding: 1.5rem 0.8rem;
    }

    
    .hero > :nth-child(1){
        font-size: 28px;
    }
    .hero > :nth-child(2),
    .hero > :nth-child(3){
        font-size: 16px;
    }

    
    .emailBox{
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: stretch;
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
    }

    .hero input{
        width: 100%;
        max-width: 100%;
        height: 48px;
        padding: 0.6rem;
        box-sizing: border-box;
    }

    .hero button{
        width: 100%;
        max-width: 100%;
        height: 48px;
        padding: 0.6rem;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 716px) {
    .sep{
        height: 7px !important;
        min-height: 7px;
        display: block;
    }

    .emailBox{
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        width: 100%;
    }

    .hero input,
    .hero button{
        width: 100%;
        max-width: 420px;
    }
}


@media screen and (max-width: 360px) {
    nav{
        align-items: center;
        padding: 8px 12px;
    }

    .flex{
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-end;
        margin-left: 12px; 
    }
    .flex button{
        width: 92px;
        height: 36px;
        padding: 6px 10px;
        font-size: 13px;
        box-sizing: border-box;
    }

    
    .flex #English{
        order: 0;
    }
    .flex #signIn{ 
        order: 1; 
    }
}